:root{
    background-color: #CFBBCB;
}

.container {
    width: 80%;
    height: 70vh;
    background-color: #ffffff;
    border-radius: 5%;

    margin: auto;
    margin-top: 5%;
    
    
    
    border: 1px solid blue;

}

.fields{
    margin:20px 30px ;
}